/* spacing */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 20px;
}

.button_action_create{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    margin-bottom: 15px;
}

.button_create{
    border: none;
    padding: 15px;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}

.buttons_action{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.button_edit{
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
}

.button_delete{
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    cursor: pointer;
}